.contenedor {
  font-size: 1.5rem;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top, #60a5fa, white);
  text-align: center;
}
select{
  font-size: 1.8rem;
  height: 3rem;
  width: 19rem;
  text-align: center;
}
input{
  font-size: 1.8rem;
  height: 3rem;
  width: 18rem;
  text-align: center;
}
h1{
  display: block;
  text-align: center;
  margin-bottom: 3rem;
}
button{
  margin: 2.5rem;
  font-size: 1.8rem;
  height: 3rem;
  width: 10rem;
  border-radius:15px;
  background-color: #3b82f6;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
button:hover{
  background-color: white;
  color:#3b82f6 ;
  border: 1px solid #3b82f6;
}
.selection{
  margin: 2rem;
  margin-left: 2rem;
  text-align: left;
  font-size: 1.8rem;
  height: 3.5rem;
  width: 19rem;
  border-radius:15px;
  background-color: #3b82f6;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
.flechas{
  font-size: xx-large;
}
.menu-contenedor{
  background-color: #cbd5e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  height:auto;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 8px;
}