
body {
  &#ligth{
    color: black;
    background-color: white;
    background: white;
  }
  &#dark {
    color: white;
    background-color: #212E36;
   
  }
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
